<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <div class="bg-slate-500 h-auto flex flex-row p-5">
            <div class="p-1">
                <a href={{ path("app_principale")}} class="text-white text-2xl hover:text-orange-500">Accueil</a>
            </div>
            <div class="p-1">
                {% if is_granted('ROLE_INFIRMIER') %}
                        <a href={{path('app_sejour_sorties')}} class="text-white text-2xl hover:text-orange-500">Sorties</a>
                        <a href={{path('app_sejour_date')}} class="text-white text-2xl hover:text-orange-500">Séjours d'une date</a>
                        <a href={{path('app_sejour_a_venir')}} class="text-white text-2xl hover:text-orange-500">Séjours à venir</a>
                {% endif %}
            </div>

            <div class="ml-auto">
            {% if app.user %}
                <a href={{ path("app_logout")}} class="text-white text-2xl hover:text-orange-500">Deconnexion</a>
            {% elseif not app.user %}
                <a href={{ path("app_login")}} class="text-white text-2xl hover:text-orange-500">Connexion</a>
            {% endif %}
            </div>

        </div>

        {% block javascripts %}
        <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}

        
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
