{# templates/form/form_theme.html.twig #}

{% block form_row %}
    <div class="flex items-center justify-center text-white text-2xl font-bold py-4">
        {{ form_label(form, null, {'label_attr': {'class': 'px-2'}}) }}

        {% if form.vars.block_prefixes[1] == 'checkbox' %}
            {# Code spécifique pour les checkboxes #}
            <div class="flex items-center">
                {{ form_widget(form, {'attr': {'class': 'form-checkbox'}}) }}
                {{ form_errors(form) }}
            </div>
        {% else %}
            {# Code pour les autres types de champs, par exemple les champs de texte #}
            {{ form_widget(form, {'attr': {'class': 'form-input text-slate-500 text-base h-10 px-2 rounded-lg'}}) }}
            {{ form_errors(form) }}
        {% endif %}
    </div>
{% endblock %}
