{% extends 'base.html.twig' %}

{% block title %}Sejour index{% endblock %}

{% block body %}
    <h1>Sejour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Commentaire</th>
                <th>EstArrive</th>
                <th>EstParti</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sejour in sejours %}
            <tr>
                <td>{{ sejour.id }}</td>
                <td>{{ sejour.dateDebut ? sejour.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ sejour.dateFin ? sejour.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ sejour.commentaire }}</td>
                <td>{{ sejour.estArrive ? 'Yes' : 'No' }}</td>
                <td>{{ sejour.estParti ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_sejour_show', {'id': sejour.id}) }}">show</a>
                    <a href="{{ path('app_sejour_edit', {'id': sejour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sejour_new') }}">Create new</a>
{% endblock %}
