{% extends 'base.html.twig' %}

{% block title %}Gestion des patients{% endblock %}

{% block body %}

<div class="w-screen h-[calc(100vh-80px)] flex flex-col  items-center ">
        {% if pagination.getTotalItemCount() > 0 %}
            <h1 class="text-slate-700 text-3xl py-2 font-bold">Séjours à venir - {{ service }}</h1>
            <table class="shadow-2xl border-2 border-slate-700 w-6/12">
            <thead class="text-white">
                <tr>
                    <th class="py-3 bg-slate-700 text-2xl">Patient</th>
                    <th class="py-3 bg-slate-700 text-2xl">Lit</th>
                    <th class="py-3 bg-slate-700 text-2xl">Date début</th>
                    <th class="py-3 bg-slate-700 text-2xl">Commentaire</th>
                    <th class="py-3 bg-slate-700 text-2xl">Action</th>
                </tr>
            </thead>
            <tbody class="text-white text-center">
            
                {% for s in pagination %}
                    <tr class="bg-slate-500 border-2 border-slate-700">
                        <td class="py-3 px-6">
                            {{ s.patient_nom }}
                        </td>
                        <td class="py-3 px-6 text-xl">{{ s.lit_libelle }}</td>
                        <td class="py-3 px-6 text-xl">{{ s.dateDebut|date('Y-m-d') }}</td>
                        <td class="py-3 px-6 text-xl">{{ s.commentaire }}
                        <td class="py-3 px-6 text-xl transition ease-in-out hover:text-orange-500"><a href="{{ path('app_sejour_show', {id: s.id}) }}">Détails</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="py-4">
            {{ knp_pagination_render(pagination,'/components/_pagination.html.twig') }}
        </div>
        {% else %}
            <h1 class="text-slate-700 text-3xl py-4 font-bold">Il n'y a aucun séjour à venir pour ce service</h1>
        {% endif %}
</div>

<h1>Sejours à venir<h1>


{% endblock %}