{% extends 'base.html.twig' %}

{% block title %}Gestion des patients{% endblock %}

{% block body %}

{{ form_start(form) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}

<h1>Gestion des séjours</h1>
<table>
    <thead>
        <tr>
            <th>Patient</th>
            <th>Date début</th>
            <th>Date Fin</th>
            <th>Lit</th>
            <th>Commentaire</th>
            <th>Modifier</th>
        </tr>
    </thead>
    <tbody>
        {% for s in lesSejours %}
            <tr>
                <td>{{ s.lePatient.getNom }}</td>
                <td>{{ s.dateDebut|date('Y-m-d') }}</td>
                <td>{{ s.dateFin|date('Y-m-d') }}</td>
                <td>{{ s.leLit.getLibelle }}</td>
                <td>{{ s.commentaire }}
                <td><a href="{{ path('app_sejour_edit', {id: s.id}) }}">Modifier</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}