{% extends 'base.html.twig' %}

{% block title %}Sejour{% endblock %}

{% block body %}
{% if sejour is not null %}

<div class="w-screen h-[calc(100vh-80px)] flex flex-col  items-center ">
    <div class="w-1/3 h-fit pb-5 my-5 bg-slate-700 rounded-lg flex flex-col justify-start items-center shadow-2xl">
        <div class="w-full flex flex-col items-center rounded-lg">
            <h1 class="text-white text-3xl font-bold w-full text-center bg-slate-500 py-4 rounded-t-lg">Séjour n° {{ sejour.id }}</h1>
            <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg"> Date de début - {{ sejour.dateDebut|date('d/m/Y') }}</h1>
            <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg"> Date de fin - {{ sejour.dateFin|date('d/m/Y') }}</h1>
            <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg"> Patient - {{ sejour.lePatient.nom }}</h1>
            <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg"> Lit - {{ sejour.leLit.libelle }}</h1>
            <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg"> Commentaire </h1>
            <input type="text" value="{{ sejour.commentaire }}" class="w-2/3 h-10 px-4 rounded-lg text-wrap" disabled></input>
            <div class="flex">
                <h1 class="text-white text-2xl font-bold py-4 pr-2 rounded-t-lg"> Arrivé : </h1>
                <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg">{{ sejour.estArrive ? 'Oui' : 'Non' }}</h1>
            </div>
            <div class="flex">
                <h1 class="text-white text-2xl font-bold py-4 pr-2 rounded-t-lg"> Parti : </h1>
                <h1 class="text-white text-2xl font-bold py-4 rounded-t-lg">{{ sejour.estParti ? 'Oui' : 'Non' }}</h1>
            </div>
        </div>
</div>

{% else %}

<div class="w-screen h-[calc(100vh-80px)] flex flex-col  items-center ">
    <h1 class="text-slate-700 text-xl py-2 font-bold">Ce séjour n'existe pas</h1>
<div>

{% endif %}

{% endblock %}
